*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -----------GRID DE LAYOUT INDEX----------------- */

.body-index{
    background-color: #212529;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.9fr 5fr 0.5fr;

}

.body__header{
    grid-column: 1/3;
    grid-row: 1/2;
    
}
.body-index__main{
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: space-around;
}
.body__footer{
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333533;
    
    
    
}

/* ------------------------------------------------------------------------------------------------- */

/* ----------------------------------ESTILO PARA NAV COMUN A TODOS------------------------------------------------ */
.menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #333533;
    position: fixed;
}
.menu__logo{
    
    width: 150px;
    height: 100px;
    padding-left: 15px;

}
.menu__lista{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    
}
.menu__lista__item{
    list-style: none;
    
    
}

.menu__lista__item a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu__lista li:hover{
    text-decoration: underline;
}

/* --------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------ESTILO PARA MAIN DE INDEX------------------------------------------------------- */

.cuerpo-index__slogan{
    display: grid;
    width: 50%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 0.1fr);
    padding-left: 15px;
}

.cuerpo-index__slogan__1{
    font-size: 60px;
    color: #A4161A;
    grid-column: 1/3;
    grid-row: 1/2;
    
    
}
.cuerpo-index__slogan__2{
    font-size: 40px;
    grid-column: 1/4;
    grid-row: 2/3;
    
}
.cuerpo-index__slogan__3{
    font-size: 40px;
    color: #B4AFAF;
    grid-column: 1/2;
    grid-row: 3/4;
    
}
.cuerpo-index__slogan__4{
    font-size: 100px;
    color: #A4161A;
    grid-column: 2/4;
    grid-row: 3/5;
    align-items: flex-start;
    
}

.cuerpo-index__video{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
}    
.cuerpo-index__descripcion{
    border: solid 2px;
    background-color: black;
    text-align: justify;
    padding-left: 10px;
    grid-column: 1/4;
    grid-row: 6/7;
}

/* -------------------------------------------------------------------------------------------- */

/* ----------------------------------ESTILO PARA FOOTER------------------------------------------- */

.footer__instagram{
    display: flex;
    
    width: 50%;
    height: 30px;
    align-items: center;
    padding-left: 15px;
    
}
.footer__facebook{
    display: flex;
    width: 50%;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    
    
}

.footer__instagram p{
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.footer__facebook p{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
/* ---------------------------------------------------------------------------------------- */

/* ----------------------------ESTILO PARA MAIN DE PROJECTS------------------------------------ */

.body-projects{
    background-color: #212529;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 9fr 0.5fr;

}

.body-projects__main{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    grid-column: 1/3;
    grid-row: 2/3;

}


.body-projects__title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px ;
    
    
}
.body-projects__title__2{
    color: #A4161A;
    font-size: 100px;
    margin-left: 10px;
}
.body-projects__title__1{
    font-size: 75px;
    padding-top: 26px;
    margin-right: 10px;
}

.body-projects__fotos{
    display: grid;
    width: 100%;
    height: 1350px;
    box-sizing: border-box;
    grid-template-columns: 1fr 1.25fr 1.25fr 1.5fr;
    grid-template-rows: 2fr 2fr 2fr 2fr ;
    gap: 7px;
    
}
.body-projects__fotos__elemento1{
    background-color: tomato;
    /* grid-area: elemento1; */
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(../images/landing/blackbird.jpg);
    background-size: cover;
    background-position: center;
    
    
}
.body-projects__fotos__elemento2{
    background-color: wheat;
    /* grid-area: elemento2; */
    grid-column: 2/4;
    background-image: url(../images/landing/vis.png);
    background-size: cover;
    background-position: center;
}
.body-projects__fotos__elemento3{
    background-color: yellowgreen;
    /* grid-area: elemento3; */
    grid-column: 4/5;
    grid-row: 1/2;
    background-image: url(../images/landing/DSC03150.jpg);
    background-size: cover;
    background-position: center;
    
}
.body-projects__fotos__elemento4{
    background-color: black;
    /* grid-area: elemento4; */
    grid-column: 2/3;
    grid-row: 2/4;
    background-image: url(../images/landing/DSC03514.jpg);
    background-size: cover;
    background-position: center;
}
.body-projects__fotos__elemento5{
    background-color: blue;
    /* grid-area: elemento5; */
    grid-column: 3/5;
    grid-row: 2/4;
    background-image: url(../images/landing/calimac.PNG);
    background-size: cover;
    background-position: center;
}
.body-projects__fotos__elemento6{
    background-color: red;
    /* grid-area: elemento6; */
    grid-column: 1/2;
    grid-row: 3/5;
    background-image: url(../images/landing/IMG_4702_jpg.JPG);
    background-size: cover;
    background-position: center;
}
.body-projects__fotos__elemento7{
    background-color: turquoise;
    /* grid-area: elemento7; */
    grid-column: 2/3;
    grid-row: 4/5;
    background-image: url(../images/landing/DSC04166.jpg);
    background-size: cover;
    background-position: center;
}
.body-projects__fotos__elemento8{
    background-color: green;
    /* grid-area: elemento8; */
    grid-column: 3/5;
    grid-row: 4/5;
    background-image: url(../images/landing/DSC03885.jpg);
    background-size: cover;
    background-position: center;
}


